<div>
    <div>
        <div>
            <DisplayDish [dish]="chosenDish"></DisplayDish>
        </div>

        <div style="padding-top:20px">
            <button mat-stroked-button (click)='randomizeDish()'> Slumpa om maträtt </button>
            <button mat-stroked-button (click)='toggleFetchMode()'> Hämtar data från: {{mode? "API":"Cache"}} </button>
        </div>

    </div>
    <div>
        <p>Alternativ</p>
        <button mat-stroked-button (click)='randomiseAlternatives(3)'> Slumpa om alternativ </button>
        <DisplayAlternatives [alternatives]="chosenAlternatives" (switchDishEvent)='switchToAlternative($event)'></DisplayAlternatives>
    </div>
</div>