<div style="background-color: gray;">
    <p>Food Component</p>
    <div>
        <p>Vald maträtt: </p>
        <DisplayDish [dish]="chosenDish"></DisplayDish>
        <button (click)='randomizeDish()'> Slumpa om maträtt </button>
        <button (click)='toggleFetchMode()'> Hämtar data från: {{mode? "API":"Cache"}} </button>
    </div>
    <div>
        <p>Alternativ</p>
        <button (click)='randomiseAlternatives(3)'> Slumpa om alternativ </button>
        <button (click)='switchToAlternative(0)'> Byt till alternativ 1 </button>
        <button (click)='switchToAlternative(1)'> Byt till alternativ 2 </button>
        <button (click)='switchToAlternative(2)'> Byt till alternativ 3 </button>
        <DisplayAlternatives [alternatives]="chosenAlternatives"></DisplayAlternatives>
    </div>
</div>