.example-card {
    max-width: 430px;
    min-width: 430px;

    max-height: 650px;
    min-height: 650px;

    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 12px;
    margin-right: 12px;

    box-sizing: border-box;

    padding: 20px
    /*align-items: center;*/   
}

.image{
    height: 350px;  
    object-fit: contain;
}

.image-pos{
    /*justify-content: center;*/
}

.text-ing {
    /*align-items: left;*/
    max-height: 140px;
    min-height: 140px;
    text-align: left;
    object-fit: contain;
}

.button-pos {
    position: relative;
    left: 125px;
}
