<div>
    <mat-grid-list cols="3" rowHeight="1:1.7">
        <mat-grid-tile *ngFor="let item of alternatives; " style="display: inline-block; align-items: unset;">      
            <div class="alternative-div">   
                <DisplayDrinkComponent [drink]="item"></DisplayDrinkComponent>
                <button mat-stroked-button  (click)='switchMainDrink(item.name)'>Select this drink</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>



<!--

<ul>
        <li *ngFor="let item of alternatives; " style="display: inline-block; align-items: unset;">
            <div class="alternative-div">   
                <DisplayDrinkComponent [drink]="item"></DisplayDrinkComponent>
                <button mat-stroked-button  (click)='switchMainDrink(item.name)'>Switch to alternative</button>
            </div>
        </li>
    </ul>



style="margin-top: 25px;"
<mat-grid-list cols="3">
        <mat-grid-tile *ngFor="let item of alternatives; " style="display: inline-block; align-items: unset;">      
            
        </mat-grid-tile>
    </mat-grid-list>
<mat-card class="example-card">

                    <mat-card-title>{{item.name}}</mat-card-title>

                        <mat-card-content class="text-ing">
                            <mat-grid-list cols="2" rowHeight="25px">
                                <div *ngFor="let ing of item.ingredients; let i = index;">
                                    <mat-grid-tile>{{item.measurements[i]}} {{ing}}</mat-grid-tile>
                                </div>
                            </mat-grid-list>
                        </mat-card-content>

                    
                    <div class="image-pos">
                        <img class="image" mat-card-image src={{item.img_url}}>
                    </div>

                    <div class="button-pos">
                        <button mat-stroked-button (click)='switchMainDrink(item.name)'>Byt till alternativ</button>
                    </div>

                </mat-card>


-->
