
<div style="background-color: gray;">
    <p>Movies Component</p>
    <div>
        <p>Vald film: </p>
        <button mat-stroked-button (click)='getRandomMovie()'> Slumpa om film </button>
        <DisplaySelectedMovie [movie]="chosenMovie" style="display: block;margin-left: auto;margin-right: auto;width: 50%;"></DisplaySelectedMovie>
    </div>
    
    <div>
        <p>Alternativ</p>
        <button mat-stroked-button (click)='randomiseAlternatives(3)'> Slumpa nya alternativ </button>
        <DisplayMovieAlternatives [alternatives]="chosenAlternatives"></DisplayMovieAlternatives>
    </div>
</div>