<!--<img src={{this.poster}}>
<h4>{{this.primaryMovie.title}} ({{this.year}})</h4>
<p>Director: {{this.director}}</p>
<p>Plot: "{{this.plot}}"</p>
<p>IMDB rating: {{this.rating}}</p>-->
<div style="background-color: gray;">
    <p>Movies Component</p>
    <div>
        <p>Vald film: </p>
        <DisplaySelectedMovie [movie]="chosenMovie" style="display: block;margin-left: auto;margin-right: auto;width: 50%;"></DisplaySelectedMovie>
        <!--<button (click)='randomizeDish()'> Slumpa om maträtt </button>
        <button (click)='toggleFetchMode()'> Hämtar data från: {{mode? "API":"Cache"}} </button>-->
    </div>
    <div style="padding-top:20px">
       <button mat-stroked-button (click)='getRandomMovie()'> Slumpa om film </button>
    </div>
    
    <div>
        <p>Alternativ</p>
        <DisplayMovieAlternatives [alternatives]="chosenAlternatives"></DisplayMovieAlternatives>
    </div>
    <div style="padding-top:20px;">
        <button mat-stroked-button (click)='randomiseAlternatives(3)'> Slumpa om alternativ </button>
    </div>
</div>