<div>
    <ul>
        <li *ngFor="let item of alternatives" style="display: inline-block;">
            <div class="alternative-div">
                <DisplayDish [dish]="item"></DisplayDish>
                <button mat-stroked-button (click)='switchChosenDish(item.id)'>Switch to alternative</button>
            </div>
        </li>
    </ul>
    
</div>


<!-- 
<mat-grid-list cols="3" style="min-height: min-content;">
        <mat-grid-tile *ngFor="let item of alternatives" style="display: inline-block;">
            <div class="alternative-div">
                <DisplayDish [dish]="item"></DisplayDish>
                <button mat-stroked-button (click)='switchChosenDish(item.id)'>Switch to alternative</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>




-->