.image{
    height: 350px;  
    object-fit: contain;
  }

.mat-card{
    height: 600px;
    padding: 20px;
    box-sizing: border-box;
}

.example-card {
    max-width: 380px;
    height: 600px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    box-sizing: border-box;
    
}
