.example-card {
    max-width: 400px;
    /*max-height: 500px;
    min-width: 100px;
    min-height: 100px;*/
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    box-sizing: border-box;
}