<div>
    <div align="center">
        <DisplayDrinkComponent [drink]="mainDrink"></DisplayDrinkComponent>
    </div>

    <div class="alternative-div"> 
        <button mat-stroked-button (click)='randomizeDrink()'> Randomise </button>
    </div>

</div>
<div class="alternative-div" >
    <h1>Alternativ</h1>
    <button mat-stroked-button (click)='getRandomAlternativies(3)'> Randomise alternatives </button>
    <DisplayDrinkAlternatives [alternatives]="dispDrinkAlt" (newDrinkEvent)=switchMainDrink($event)></DisplayDrinkAlternatives>
</div>

<!--       <div align="center">   -->
