/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/purple-green.css';
html,
body {
    height: 100%;
    background: #303030;
    color: white;
}

nav {
    background: #656565;
}

nav ul li {
    display: inline;
    margin-right: 2em;
}

ul li {
    display: inline;
    margin-right: 2em;
}


.router {
  padding: 2%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*
Styling för mat-cards
*/

.display-card {
    max-width: 400px;
    max-height: 450px;
    min-width: 400px;
    min-height: 450px;
    box-sizing: border-box;

}

.display-card img {
    max-height: 350px;
    min-height: 350px;
    object-fit: contain;
    /*align-items: center; */

}

.alternative-div button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  margin-top: 25px;
}


