/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/purple-green.css';
html,
body {
    height: 100%;
    background: #303030;
    color: white;
}

nav {
    background: #656565;
}

nav ul li {
    display: inline;
    margin-right: 2em;
}

ul li {
    display: inline;
    margin-right: 2em;
}


.router {
  padding: 2%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*
Styling för mat-cards
    max-width: 400px;
    max-height: 450px;
    min-width: 400px;
    min-height: 450px;
*/

.display-card  {
    max-width: 300px;
    max-height: max-content;
    min-width: 300px;
    min-height: max-content;
    padding: 0px;
    justify-content: center;

}

.display-card img {
    display: flex;
    max-height: 350px;
    min-height: 350px;
    max-width:300;
    object-fit: contain;
    /*align-items: center; */

}

.alternative-div button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.mat-figure{
    align-items: unset;
    justify-content: center;
}

.div button {
    margin-top: 10px;
    margin-bottom: 20px;
}

/*
.alternative-div{
    display: flex;
    max-width: 400px;
    max-height: 450px;
    min-width: 400px;
    min-height: 450px;
}


.mat-grid-tile .mat-figure {
    display: flex;
    align-items: unset;    
}*/



