<div align="center">
    <p>Choose a country:</p>
    <mat-form-field appearance="fill">
        <mat-label>Land</mat-label>
        <mat-select [(ngModel)]="chosenCountryString" name="country">
            <mat-option *ngFor="let country of availableCountries" [value]="country">
                {{country}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <button mat-raised-button color="primary" (click)="submitCountry()">Submit choice</button>
    </div>
</div>
