<div>
    <p>Välj ett land:</p>
    <mat-form-field appearance="fill">
        <mat-label>Land</mat-label>
        <mat-select [(ngModel)]="chosenCountry" name="country">
            <mat-option *ngFor="let country of availableCountries" [value]="country">
                {{country}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <a mat-raised-button color="primary" [routerLink]="['/overview', chosenCountry]">Bekräfta val</a>
        <button mat-raised-button color="primary" (click)="submit()"></button>
    </div>
</div>