<button (click)='getDrinks()'> Kör metoden getDrinks() </button>
<button (click)='getFood()'> Kör metoden getFood() </button>
<button (click)='getMovies()'> Kör metoden getMovies() </button>

<app-drinks> [country]= "country" </app-drinks>
<nav>
    <ul>
        <li>
            <a [routerLink]="['']">Länk till Landing</a>
        </li>
        <li>
            <a [routerLink]="['/food', correctCountry]">Länk till FoodComponent</a>
        </li>
    </ul>
</nav>


<router-outlet></router-outlet>
<!--<FoodComponent [cuisine]="correctCountry"></FoodComponent> -->