<mat-sidenav-container>
    <mat-toolbar color="secondary">
        <div *ngIf="atLanding(); else elseBlock">

            <ul>
                <li>
                    <a mat-stroked-button [routerLink]="['']">Home (reset)</a>
                </li>
                <li>
                    <a mat-stroked-button disabled>Overview</a>
                </li>
                <li>
                    <a mat-stroked-button disabled>Food</a>
                </li>
                <li>
                    <a mat-stroked-button disabled>Drinks</a>
                </li>
                <li>
                    <a mat-stroked-button disabled>Movies</a>
                </li>
            </ul>

        </div>


        <ng-template #elseBlock>

            <ul>
                <li>
                    <a mat-stroked-button [routerLink]="['']">Home (reset)</a>
                </li>
                <li>
                    <a mat-stroked-button [routerLink]="['/overview']">Overview</a>
                </li>
                <li>
                    <a mat-stroked-button [routerLink]="['/food']">Food</a>
                </li>
                <li>
                    <a mat-stroked-button [routerLink]="['/drinks']">Drinks</a>
                </li>
                <li>
                    <a mat-stroked-button [routerLink]="['/movies']">Movies</a>
                </li>
            </ul>

        </ng-template>

    </mat-toolbar>


    <div class="router">
      <router-outlet></router-outlet>
    </div>
    <!--<FoodComponent [cuisine]="correctCountry"></FoodComponent> -->
</mat-sidenav-container>
