<mat-sidenav-container>
    <nav>
        <ul>
            <li>
                <a mat-stroked-button [routerLink]="['']">Home (reset)</a>
            </li>
            <li>
                <a mat-stroked-button [routerLink]="['/overview', correctCountry]">Overview</a>
            </li>
            <li>
                <a mat-stroked-button [routerLink]="['/food', correctCountry]">Food</a>
            </li>
            <li>
                <a mat-stroked-button [routerLink]="['/drinks', correctCountry]">Drinks</a>
            </li>
        </ul>
    </nav>


    <router-outlet></router-outlet>
    <!--<FoodComponent [cuisine]="correctCountry"></FoodComponent> -->
</mat-sidenav-container>